body {
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: whitesmoke;
    background-color: white;
    min-width: 470px;
    max-width: 470px;
    font-size: larger;
}
#default-content {
    margin-bottom: 5px;
}
#default-sub-content{
    display: flex;
    flex-direction: row;
}
#error-content {
    display: block;
    text-align: center;
    flex-direction: column;
    display: none;
}
#temporary-content{
    display: block;
    text-align: center;
    display: none;
}
#grid {
    display: grid;
}
#pathLbl{
    font-size: small;
}
#saveto-buttons{
    display: flex;
    justify-content: flex-end;
}
#twobuttons{
    flex-direction: column;
    display: flex;
    width: -webkit-fill-available;
    margin-left: 15px;
    margin-right: 15px;
}
#default-sub-content-path{
    display: flex;
    flex-direction: column;
}
#dlbutton{
    width: -webkit-fill-available;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2px;
    background: none;
    border-radius: 0px;
    border-color: limegreen;
    font-size: 25px;
}
#dllistbutton{    
    height: 30px;
    margin-bottom: 3px;
    background: none;
    border-color: teal;
    font-size: 15px;
}
#addlistbutton{
    height: 30px;
    background: none;
    border-color: teal;
    font-size: 15px;
}
#quality-button{
    display: flex;
    justify-content: flex-end;
}
#default-sub-content-quality{
    display: flex;
    flex-direction: column;
}
#checkbox-col{
    grid-column: 1;
    display: flex;
    flex-direction: column;
}
#coltwocont{
    grid-column: 2;
}
#myBar {
    background-color: limegreen;
    width: 0%;
    height: 35px;
}
#emptybar{
    width: 300px;
    margin: auto;
    border-left-style: ridge;
    border-right-style: ridge;
    margin-bottom: 20px;
    border-width: thick;
}
#emptylist{
    display: none;
}
.continue{
    display: block;
    margin: auto;
}
#updating{
    display: none;
}
#alreadydownloaded{
    display: none;
}
#alreadydownloadedpl{
    display: none;
}
#alreadyinlist{
    display: none;
}
#process{
    display: none;
}